<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="10707NeilApps.Trippit" Publisher="CN=B458EF9C-1F3A-4DD2-AB1A-76FB5056CF30" Version="1.1.0.0" />
  <mp:PhoneIdentity PhoneProductId="2a6ba796-659e-4f60-90c5-77b040426db2" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>ms-resource:Trippit.Localization/AppResources/AppName</DisplayName>
    <PublisherDisplayName>NeilApps</PublisherDisplayName>
    <Logo>Assets\Images\NewStoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="en-US" />
    <Resource Language="fi-FI" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Trippit.App">
      <uap:VisualElements DisplayName="Trippit" Square150x150Logo="Assets\Images\Square150x150Logo.png" Square44x44Logo="Assets\Images\Square44x44Logo.png" Description="ms-resource:Trippit.Localization/AppResources/AppDescription" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Images\Wide310x150Logo.png" Square310x310Logo="Assets\Images\Square310x310Logo.png" Square71x71Logo="Assets\Images\Square71x71Logo.png" ShortName="Trippit">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\Images\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>